
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,	"Helvetica Neue", Arial, sans-serif;
	width: 550px;
	height: 400px;
	margin: 0px;
	padding: 0px;
}

.button {
	border: none;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

/*Frame chooser*/
.container-1 {
	display: block;
	height: 10%;
	width: 100%;
	padding-left: 3px;
	margin: 3px 0;
}

.container-1 nav a {
  	display: inline-block;
 	padding: 0px 5px 4px 5px;
 	margin-right: -4px;
  	background: #2b303b;
  	color: #4f5b66;
	text-decoration: none;
	font-size: 17px;
}

.container-1 a#leftBtn {
 	border-top-left-radius: 5px;
  	border-bottom-left-radius: 5px;
}

.container-1 a#rightBtn {
 	border-top-right-radius: 5px;
  	border-bottom-right-radius: 5px;
}

.container-1 a#current_frame {
  	background: white;
  	color: black;
	border: solid 1px #babdba;
	padding: 4px;
	width: 89.5%;
	text-align: center;
	font-size: 12px;
	cursor: default;
}