
@-webkit-keyframes stop {
  70% {
    position: absolute;
    border-radius: 2px;
    left: 49%;
    top: 10%;
    width: 11px;
    height: 11px;
  }
  100% {
    position: absolute;
    border-radius: 2px;
    left: 48.5%;
    top: 9.5%;
    width: 11px;
    height: 11px;
  }
}

#recBtnContainer {
  position: absolute;
  left: 45%;
  top: 8.5%;
  width: 50px;
  height: 50px;
}

#recBtnContainer #recordBtn {
  display: none;
}

#recBtnContainer #recordBtn + label:before {
  position: absolute;
  left: 45%;
  top: 5%;
  width: 21px;
  height: 21px;
  content: '';
  -webkit-transform: translate(-6px, -6px);
  border-radius: 50%;
  border: 3px solid #fff;
  cursor: pointer;
}

#recBtnContainer #recordBtn + label:after {
  position: absolute;
  left: 43%;
  top: 4%;
  width: 17px;
  height: 17px;
  content: '';
  border-radius: 50px;
  background: #e80415;
  cursor: pointer;
}

#recBtnContainer #recordBtn:checked + label:after {
  -webkit-animation: stop 0.5s infinite cubic-bezier(0.4, -0.9, 0.9, 1);
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
}
